<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/mybatis-3-mapper.dtd">

<mapper namespace="net.lnno2.talkingkitchen.mapper.RecipeMapper">

	<insert id="insertRecipe">
		INSERT INTO TKK_RECIPE (REC_TITLE, REC_INTRO, REC_CATEGORY1, REC_CATEGORY2, REC_CATEGORY3, REC_CATEGORY4, REC_PORTION, REC_TIME, REC_LEVEL, USER_NO)
		VALUES (#{recTitle}, #{recIntro}, #{recCategory1}, #{recCategory2}, #{recCategory3}, #{recCategory4}, #{recPortion}, #{recTime}, #{recLevel}, '1')
	</insert>
	
	<insert id="insertRecipeAttach">
		<selectKey resultType="long" keyProperty="recNo" order="BEFORE">
        	SELECT MAX(REC_NO) AS recNo FROM TKK_RECIPE
      	</selectKey>
	
		INSERT INTO TKK_ATTACH (ATTACH_NAME, ATTACH_PATH, REC_NO, STEP_NO)
		VALUES (#{attachName}, #{attachPath}, #{recNo}, #{stepNo})
	</insert>
	
	<insert id="insertRecipeIngr" parameterType="RecipeVO">
		<selectKey resultType="long" keyProperty="recNo" order="BEFORE">
        	SELECT MAX(REC_NO) AS recNo FROM TKK_RECIPE
      	</selectKey>
      	
      	INSERT INTO TKK_RECIPE_INGR (REC_NO, INGR_CODE, REC_INGR_QNT) VALUES 
      	<foreach collection="recipeIngrVoList" item="vo" open="(" separator="), (" close=")">
      		#{recNo}, #{vo.ingrCode}, #{vo.recIngrQnt}
      	</foreach>
	</insert>
	
	<insert id="insertRecipeStep" parameterType="RecipeVO">
		<selectKey resultType="long" keyProperty="recNo" order="BEFORE">
        	SELECT MAX(REC_NO) AS recNo FROM TKK_RECIPE
      	</selectKey>
      	
      	INSERT INTO TKK_RECIPE_STEP (STEP_NO, STEP_CONTENT, STEP_TIME, REC_NO) VALUES
      	<foreach collection="recipeStepVoList" item="vo" open="(" separator="), (" close=")">
      		#{vo.stepNo}, #{vo.stepContent}, #{vo.stepTime}, #{recNo}
      	</foreach>
	</insert>

</mapper>