<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/mybatis-3-mapper.dtd">

<mapper namespace="net.lnno2.talkingkitchen.mapper.RecipeMapper">

	<insert id="insertRecipe">
		INSERT INTO TKK_RECIPE (REC_TITLE, REC_INTRO, REC_CATEGORY1, REC_CATEGORY2, REC_CATEGORY3, REC_CATEGORY4, REC_PORTION, REC_TIME, REC_LEVEL, USER_NO)
		VALUES (#{recTitle}, #{recIntro}, #{recCategory1}, #{recCategory2}, #{recCategory3}, #{recCategory4}, #{recPortion}, #{recTime}, #{recLevel}, '1')
	</insert>
	
	<insert id="insertRecipeAttach">
		<selectKey resultType="long" keyProperty="recNo" order="BEFORE">
        	SELECT MAX(REC_NO) AS recNo FROM TKK_RECIPE
      	</selectKey>
	
		INSERT INTO TKK_ATTACH (ATTACH_NAME, ATTACH_PATH, REC_NO, STEP_NO)
		VALUES (#{attachName}, #{attachPath}, #{recNo}, #{stepNo})
	</insert>
	
	<insert id="insertRecipeIngr" parameterType="RecipeVO">
		<selectKey resultType="long" keyProperty="recNo" order="BEFORE">
        	SELECT MAX(REC_NO) AS recNo FROM TKK_RECIPE
      	</selectKey>
      	
      	INSERT INTO TKK_RECIPE_INGR (REC_NO, INGR_CODE, REC_INGR_QNT) VALUES 
      	<foreach collection="recipeIngrVoList" item="vo" open="(" separator="), (" close=")">
      		#{recNo}, #{vo.ingrCode}, #{vo.recIngrQnt}
      	</foreach>
	</insert>
	
	<insert id="insertRecipeStep" parameterType="RecipeVO">
		<selectKey resultType="long" keyProperty="recNo" order="BEFORE">
        	SELECT MAX(REC_NO) AS recNo FROM TKK_RECIPE
      	</selectKey>
      	
      	INSERT INTO TKK_RECIPE_STEP (STEP_NO, STEP_CONTENT, STEP_TIME, REC_NO) VALUES
      	<foreach collection="recipeStepVoList" item="vo" open="(" separator="), (" close=")">
      		#{vo.stepNo}, #{vo.stepContent}, #{vo.stepTime}, #{recNo}
      	</foreach>
	</insert>
	
	<select id="getRecipeList" resultType="RecipeVO">
		SELECT R.REC_NO, R.REC_TITLE, R.REC_INTRO, R.REC_PORTION, R.REC_TIME, R.REC_LEVEL, R.REC_READ_CNT, R.REG_DATE, A.ATTACH_PATH AS "attachVo.attachPath", A.ATTACH_NAME AS "attachVo.attachName"
		FROM TKK_RECIPE R INNER JOIN TKK_ATTACH A ON R.REC_NO = A.REC_NO
		AND A.STEP_NO = '0'
		ORDER BY REG_DATE DESC
	</select>
	
	<select id="getRecipeDetail" parameterType="long" resultType="RecipeVO">
		SELECT R.REC_NO, R.REC_TITLE, R.REC_INTRO, R.REC_PORTION, R.REC_TIME, R.REC_LEVEL, A.ATTACH_PATH AS "attachVo.attachPath", A.ATTACH_NAME AS "attachVo.attachName"
		FROM TKK_RECIPE R INNER JOIN TKK_ATTACH A ON R.REC_NO = A.REC_NO
		WHERE A.STEP_NO = '0'
		AND R.REC_NO = #{recNo}
	</select>
	
	<select id="getIngrDetail" parameterType="long" resultType="RecipeIngredientVO">
		SELECT * 
		FROM TKK_RECIPE_INGR
		WHERE REC_NO = #{recNo}
	</select>
	
	<select id="getStepDetail" parameterType="long" resultType="RecipeStepVO">
		SELECT S.* , A.STEP_NO, A.ATTACH_PATH AS "attachVo.attachPath", A.ATTACH_NAME AS "attachVo.attachName"
		FROM TKK_RECIPE_STEP S INNER JOIN TKK_ATTACH A ON S.REC_NO = A.REC_NO
		WHERE S.REC_NO = #{recNo}
		AND A.STEP_NO > 0
	</select>

</mapper>